@charset "UTF-8";

.aboutlogo {
  font-size: 0.5rem;
  padding-bottom: 10px;
  height: 10px;
}

.aboutlogo-moving {
    height:  100px;
}

.aboutlogo-working {
    height:  120px;
}

.aboutlogo-employers {
    padding-top: 20px;
    height:  125px;
}

.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}